<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        <br><br><br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="container" style="margin-left: 100px;">
            <h2 style="text-align: center;">Edit Profile</h2>
        </div>
        <div class="container" style="margin-left: 300px;">
            <label>{{text}}</label>
            <label>{{false}}</label>
            <br><br>
            Old_Password : <input type='password' name='old_password'>
            <br><br>
            New Password :  <input type='password' name='new_password'>
            <br><br>
            <input type='submit' value='submit'>
        </div>

    </form>
    <br><br><br>
        {% include 'footer.html' %}
    </body>
</html>